version: 2.1
jobs:
  build:
    #No. of servers/machines
    parallelism: 1

    #application directory change it with your application directory name
    working_directory: ~/groshoppify

    docker:
      - image: circleci/ruby:2.4.1
        environment:
          PGHOST: localhost
          PGUSER: groshoppify
          RAILS_ENV: test
      - image: postgres:12.3
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: groshoppify_test
          POSTGRES_PASSWORD: password    
    
    steps:
      - checkout      
      # Bundle install
      - run: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle --jobs=4 --retry=3

      # Setup database
      - run: cp config/database.yml.ci config/database.yml
      - run: bundle exec rake db:create db:schema:load --trace

      # Yarn install
      - run: bin/yarn install --cache-folder vendor/node_modules

      # Generate assets
      - run: bin/webpack
      - run: bundle exec rails webpacker:compile

      # Unit tests
      - run:
          shell: /bin/bash
          command: bundle exec rake test --trace
workflows:
  version: 2
  commit:
    jobs:
      - build

