<div class="row" id="admin">
  <div class="col-md-9">
    <header>
      <h1>Admin Area</h1>
    </header>

    <p>Welcome to Groshoppify's Admin Area.</p>
  </div>

  <div class="col-md-3">
    <h2>Admin Links</h2>
    <ul class="nav nav-stacked">
      <li>Links to go here very soon.</li>
    </ul>
  </div>
</div>
