# config/database.yml

default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: <%= ENV['POSTGRES_USER'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>
  pool: 5
  port: 5432

development:
  <<: *default
  database: groshoppify_development

test:
  <<: *default
  database: groshoppify_test
  #host: 127.0.0.1

production:
  <<: *default
  database: groshoppify_production
  username: groshoppify
  password: <%= ENV['GROSHOPPIFY_DATABASE_PASSWORD'] %>
