default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: password
  host: db
  port: 5432

development:
  <<: *default
  database: groshoppify_development
  
test:
  <<: *default
  database: groshoppify_test  

production:
  <<: *default
  database: groshoppify_production
  username: groshoppify
  password: <%= ENV['GROSHOPPIFY_DATABASE_PASSWORD'] %>
