<footer class='text-center'>
  <strong>Developed</strong> with <span color='red'><i class="fas fa-heart"></i></span> by Tim Fleming | aka: The <strong>GREAT</strong> One | <a target='_blank' href='icons8-grocery-bag-48'>Grocery Bag icon by Icons8</a> | Groshoppify &copy; 2021
</footer>