<nav class='navbar fixed-bottom navbar-dark bg-dark'>
  <div class='container-fluid'>    
    <nav class='navbar-brand'>
      <strong>Developed</strong> with <span><i class='fas fa-heart'></i></span>
      by Tim Fleming | aka: The <strong>GREAT</strong> One |    
      <%= link_to 'Grocery Store icon by Icons8', 'https://icons8.com/icon/7U2B6zgb7PMv/grocery-store', target: '_blank' %> | Groshoppify &copy; 2021     
    </nav>  
  </div>  
</nav>